*~
.DS_Store
.idea
__pycache__
all.html
**/docs/*.aux
**/docs/*.bbl
**/docs/*.bcf
**/docs/*.bib
**/docs/*.blg
**/docs/*.cls
**/docs/*.idx
**/docs/*.ilg
**/docs/*.ind
**/docs/*.log
**/docs/*.out
**/docs/*.pdf
**/docs/*.run.xml
**/docs/*.tex
**/docs/*.toc
**/docs/*/*.pdf
mccole.zip
node_modules
#*#
*.svg.bkp
*.svg.dtmp
*.zip
