<!DOCTYPE html>
<html lang="{{ lang|default('en') }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book_title }}</title>
    <link rel="icon" type="image/x-icon" href="_static/favicon.ico">
    <link rel="stylesheet" href="_static/pygments.css" type="text/css">
    <link rel="stylesheet" href="_static/chota.css" type="text/css">
    <link rel="stylesheet" href="_static/mccole.css" type="text/css">
    {% if math %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">{% endif %}
    {% if extra_html %}{{ extra_html }}{% endif %}
  </head>
  <body>
    <div id="home">
{{ home_html }}
    </div>
{% for section in sections %}
    <section id="{{ section.slug }}">
      <h2>{{ section.chapter_number }}. {{ section.title }}</h2>
{{ section.html }}
    </section>
{% endfor %}
    {% if forma %}<script type="module" src="https://cdn.jsdelivr.net/npm/@gvwilson/forma"></script>{% endif %}
    {% if math %}
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" crossorigin="anonymous"
      onload="renderMathInElement(document.body, {
        delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$',  right: '$',  display: false}
        ]
      });"></script>
    {% endif %}
  </body>
</html>
