/*
 * Style constants.
 */

:root {
    --faintgray: #F0F0F0;
    --lightgray: #E8E8E8;
    --darkgray: #D8D8D8;

    --lightborder: 1px;
    --mediumborder: 2px;
    --heavyborder: 5px;
    --heavierborder: 10px;

    --prose-lineheight: 130%;
    --slide-lineheight: 200%;

    --tinytext: 80%;
    --smalltext: 90%;
    --normaltext: 100%;
    --largetext: 150%;
    --hugetext: 250%;

    --image-width: 80%;

    --extra-vertical-space: 1ex;
    --slide-padding: 2em;
    --slide-code-padding: 0.5em; /* from remark */
    --slide-bottom: 1.2ex;

    --stamp-blue-dark: #1B2A83;
    --stamp-blue-light: #BABDD8;
    --stamp-brown-dark: #5F483C;
    --stamp-brown-light: #CEC7C3;
    --stamp-green-dark: #7F9971;
    --stamp-green-light: #D7E0D3;
    --stamp-orange-dark: #AD7353;
    --stamp-orange-light: #E5D4CB;
    --stamp-purple-dark: #7D6E87;
    --stamp-purple-light: #D6D2DA;
    --stamp-red-dark: #8B000F;
    --stamp-red-light: #DAB3B7;

    --logo-width: 30px;
    --sidebar-width: 300px;
    /* Minimum screen width for side-by-side is 900px below */
}

/*
 * One-column display with nav bar at the top.
 */

@media screen {
  .sidebar {
    left: 0;
    top: 0;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: var(--faintgray);
  }

  /*
   * Flex grid
   */
  .row {
      width: 100%
  }
}

/*
 * If screen is wide enough,
 * two-column display with nav bar on the left.
 */

@media screen and (min-width: 900px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    width: var(--sidebar-width);
    border-right: solid var(--darkgray) var(--lightborder);
  }

  .contents {
    margin-left: var(--sidebar-width);
  }

  /*
   * Flex grid
   */
  .row {
      display: flex;
      flex-flow: row wrap;
  }
}

/*
 * Hide things when printing.
 */

@media print {
    :not(#printable *) {
        visibility: hidden;
    }
    #printable * {
        visibility: visible;
    }
    #printable {
        position: absolute;
        left: 0;
        top: 0;
    }
}

/*
 * Generic styling.
 */

.center {
    text-align: center;
}

/*
 * Entire page.
 */

body {
    line-height: var(--prose-lineheight);
    font-family: Verdana, sans-serif;
}

/* But don't change header line-height. */
h1, h2, h3 {
  line-height: normal;
}

/* Colors */
h1 {
    background-color: var(--stamp-blue-light);
}

h2 {
    background-color: var(--stamp-green-light);
}

h3 {
    background-color: var(--stamp-orange-light);
}

/*
 * Code sections.
 */

code {
    font-family: monospace, sans-serif;
}

p.code-sample-title {
    text-align: right;
    font-size: var(--tinytext);
    font-style: italic;
}

/*
 * Logo image.
 */

.logo {
  width: var(--logo-width);
}

/*
 * Special text sections.
 */

/* Quotation. */
blockquote {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-style: italic;
}

/* Callout box. */
div.callout {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0rem;
    background-color: var(--lightgray);
}

/* Mark as draft. */
div.draft {
    text-align: center;
    color: var(--stamp-red-dark);
}
p.draft {
    font-size: var(--largetext);
}

/* Mark as todo. */
div.todo {
    text-align: center;
    font-size: var(--hugetext);
    color: var(--stamp-purple-dark);
}

/*
 * Figures.
 */

figure {
    text-align: center;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*
 * Images.
 */

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.image {
    width: var(--image-width);
}

figure.fullwidth img {
    width: 100%;
}

/*
 * Lists.
 */

/* All numbered lists have small indent. */
ol {
    padding-left: 2rem;
}

/* Chapter listing in ToC is numbered. */
ol.toc-chapter {
    list-style-type: decimal;
}

/* Appendix listing in ToC is lettered. */
ol.toc-appendix {
    list-style-type: upper-alpha;
}

/* If slides are linked, they don't have a number. */
li.no-number {
    list-style-type: none;
}

/* Bullets */
ul {
    list-style-type: disc;
}

/* Display list headings. */
dt {
    font-weight: bold;
}

/* Tighten up display lists. */
dt:not(:first-child) {
    padding-top: var(--extra-vertical-space);
}

/*
 * Aggregated information.
 */

/* List of defined terms at chapter start. */
p.definitions {
    background-color: var(--lightgray);
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: var(--mediumborder) var(--darkgray) solid;
}

/* Syllabus listing at chapter start. */
ul.syllabus {
    background-color: var(--lightgray);
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: var(--mediumborder) var(--darkgray) solid;
}

/*
 * Pre-formatted code blocks.
 * The tags and classes are set by the code highlighter.
 */

/* Including raw HTML in HTML. */
div.html {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: var(--faintgray);
    border: solid var(--mediumborder) var(--lightgray);
    padding: var(--heavyborder);
    font-size: var(--smalltext);
}

/* Highlighting a code block. */
div.highlight {
    background-color: var(--faintgray);
    padding-left: var(--mediumborder);
}

.lang-as, .lang-ht, .lang-json, .lang-mx, .lang-tll, .lang-yml {
    font-style: italic;
}

.lang-out {
    font-style: italic;
}

.lang-js, .lang-py {
}

.lang-sh {
    font-weight: bold;
}

/* Indent code inclusions. */
pre {
    font-size: var(--smalltext);
}

/*
 * Filenames for code inclusions are `<span class="filename">...</span>`.
 * Leave these in the document, but hide them.
 */

span.filename {
    display: none;
}

/*
 * Tables.
 */

/* Generic tables. */
table {
    border-collapse: collapse;
    font-size: var(--normaltext);
}

/* Table of links in appendix. */
table.links-table {
    font-size: var(--smalltext);
}

/* Cell sizes. */
th, td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
    border: solid var(--lightborder) var(--lightgray);
}

/*
 * Glossary references.
 */
a.gl-ref {
    font-weight: bold;
}

.row > * {
  flex: 1; /* allow children to grow when space available */
}

.col-1 { flex-basis: 8.33%; }
.col-2 { flex-basis: 16.66%; }
.col-3 { flex-basis: 25%; }
.col-4 { flex-basis: 33.33%; }
.col-5 { flex-basis: 41.66%; }
.col-6 { flex-basis: 50%; }
.col-7 { flex-basis: 58.33%; }
.col-8 { flex-basis: 66.66%; }
.col-9 { flex-basis: 75%; }
.col-10 { flex-basis: 83.33%; }
.col-11 { flex-basis: 91.66%; }
.col-12 { flex-basis: 100%; }

/*
 * Generic positioning
 */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

/*
 * Generic sizing
 */

.small {
    font-size: var(--smalltext);
}

.tiny {
    font-size: var(--tinytext);
}

.compact {
    line-height: var(--prose-lineheight);
}

/*
 * Slides.
 */
div.remark-slide {
    width: calc(100% - 2 * var(--heavyborder));
    height: calc(100% - 2 * var(--heavyborder));
    border: solid var(--darkgray) var(--heavyborder);
}

div.remark-slide-content {
    padding-top: var(--slide-padding);
    line-height: var(--slide-lineheight);
}

div.remark-slide-number {
    font-size: var(--tinytext);
}

div.remark-slide h1 {
    line-height: initial;
    background-color: var(--stamp-blue-light);
}

div.slide-title p {
    font-size: var(--largetext);
    padding-top: var(--slide-padding);
}

div.remark-slide h2 {
    background-color: var(--stamp-green-light);
}

div.remark-slide h3 {
    background-color: var(--stamp-orange-light);
}

div.remark-slide figcaption {
    font-style: italic;
    padding-top: var(--extra-vertical-space);
}

div.remark-slide p.shout {
    text-align: center;
    font-style: italic;
    background-color: var(--stamp-red-light);
}

div.remark-slide pre {
    line-height: var(--prose-lineheight);
    background-color: var(--faintgray);
}

dl.bib-list {
    font-size: var(--tinytext);
    line-height: var(--prose-lineheight);
}

div.aside h2 {
    background-color: var(--stamp-red-light);
}

div.exercise h2 {
    background-color: var(--stamp-purple-light);
}

div.summary h2 {
    background-color: var(--stamp-brown-light);
}

code[class="remark-code"] {
    font-style: italic;
    padding: var(--slide-code-padding);
    display: block;
    background-color: var(--stamp-purple-light);
}

div.bottom {
    position: absolute;
    bottom: var(--slide-bottom);
}
