/*
 * Style constants.
 */

:root {
    --faintgray: #F8F8F8;
    --lightgray: #E8E8E8;
    --darkgray: #D8D8D8;
    --slideborder: 5px;
    --heavyborder: 2px;
    --lightborder: 1px;
    --prose-lineheight: 130%;
    --slide-lineheight: 150%;
    --largetext: 150%;
    --normaltext: 100%;
    --smalltext: 90%;
    --extra-vertical-space: 1ex;
    --slide-padding: 2em;
}

/*
 * Generic styling.
 */

.center {
    text-align: center;
}

/*
 * Entire page.
 */

body {
    line-height: var(--prose-lineheight);
    font-family: "Lucida Grande", Arial, sans-serif;
}

/*
 * Code sections.
 */

code {
    font-family: monospace, sans-serif;
}

/*
 * Two-column display with nav bar on the left.
 */

div.bordered {
    border-left: solid var(--heavyborder) var(--lightgray);
}

div.row {
    display: grid;
    grid-template-columns: 25% 75%;
}

div.column {
    padding: 1rem;
}

/*
 * Special text sections.
 */

/* Quotation. */
blockquote {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-style: italic;
}

/* Callout box. */
div.callout {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0rem;
    background-color: var(--lightgray);
}

/*
 * Figures.
 */

figure {
    text-align: center;
}

/*
 * Lists.
 */

/* All numbered lists have small indent. */
ol {
    padding-left: 2rem;
}

/* Chapter listing in ToC is numbered. */
ol.toc-chapter {
    list-style-type: decimal;
}

/* Appendix listing in ToC is lettered. */
ol.toc-appendix {
    list-style-type: upper-alpha;
}

/* All bullet lists have small indent. */
ul {
    padding-left: 1rem;
}

/* Display list headings. */
dt {
    font-weight: bold;
}

/* Tighten up display lists. */
dt:not(:first-child) {
    padding-top: var(--extra-vertical-space);
}

/*
 * Aggregated information.
 */

/* List of defined terms at chapter start. */
p.definitions {
    background-color: var(--lightgray);
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: var(--heavyborder) var(--darkgray) solid;
}

/* Syllabus listing at chapter start. */
ul.syllabus {
    background-color: var(--lightgray);
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: var(--heavyborder) var(--darkgray) solid;
}

/*
 * Pre-formatted code blocks.
 * The tags and classes are set by the code highlighter.
 */

/* Including raw HTML in HTML. */
div.html {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: var(--faintgray);
    border: solid var(--heavyborder) var(--lightgray);
    padding: 0.25rem;
    padding-left: 0.5rem;
    font-size: var(--smalltext);
}

/* Highlighting a code block. */
div.highlight {
    border: solid var(--heavyborder) var(--darkgray);
    background-color: var(--lightgray);
}

/* Indent code inclusions. */
pre {
    padding-left: 0.25em;
    font-size: var(--smalltext);
}

/*
 * Filenames for code inclusions are `<span class="filename">...</span>`.
 * Leave these in the document, but hide them.
 */

span.filename {
    display: none;
}

/*
 * Tables.
 */

/* Generic tables. */
table {
    border-collapse: collapse;
    font-size: var(--normaltext);
}

/* Table of links in appendix. */
table.links-table {
    font-size: var(--smalltext);
}

/* Cell sizes. */
th, td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
    border: solid var(--lightborder) var(--lightgray);
}

/*
 * Changes for slides.
 */
div.remark-slide {
    width: calc(100% - 2 * var(--slideborder));
    height: calc(100% - 2 * var(--slideborder));
    border: solid var(--darkgray) var(--slideborder);
}

div.remark-slide-content {
    padding-top: var(--slide-padding);
    line-height: var(--slide-lineheight);
}

div.remark-slide-content h1 {
    line-height: initial;
}

div.slide-title p {
    font-size: var(--largetext);
    padding-top: var(--slide-padding);
}

/*
 * To-do markers.
 */
li.todo {
    font-style: italic;
}

div.todo {
    background-image: url("/todo.png");
    background-size: 100%;
}
